* {
  box-sizing: border-box;
  margin: 0px;
  /* color: #464646; */
  font-family: "Roboto", "Arial", sans-serif;
}

body {
  background-color: var(--dark-theme-background-color);
  /* padding-top: 70px; */
}
